$content_width: 1280px;
$content_width_tablet_lg:1000px;
$content_width_tablet:768px;
$content_width_phone:480px;
$content_width_min:320px;

$content_padding_x: 15px;
$content_padding_x_media: 10px;

$content_font_main:"Open Sans", sans-serif;
$ff_banner_h1:"Open Sans - Extrabold", sans-serif;
$ff_item:"Open Sans - Semibold", sans-serif;

//background-color
$color_bg_header: #f6f2f2;
$color_menu_header: #313030;
$color_menu_head_act: #ff3f40;
$color_link_bg: #ff2d2d;
$color_capab_break_line: #ececec;
$color_our_team_bg_img: #808080;
$color_contact_bg: #e5e5e5;
$color_our_contact_bg: #2d2d2d;
$color_footer_bg: #313030;

//color
$color_menu_text: #e0e0e0;
$color_text_main: #000000;
$color_text_link: #ffffff;
$color_subskr_text: #d5d5d5;
$color_contact_text: #444444;
$color_footer_text: #b8b8b8;
$color_text_p: #4d4d4d;
$color_text_h2_capab: #333333;

//font-size
$font_size_banner_h1: 60px;
$font_size_banner_h1_media: 50px;
$font_size_capab_h2: 42px;
$font_size_banner_h1_media2: 36px;
$font_size_banner_h1_media3: 34px;
$font_size_our_teem_info: 30px;
$font_size_capab_item: 24px;
$font_size_prod_list: 22px;
$font_size_link: 18px;
$font_size_main_p: 16px;
$font_size_main: 14px;

//font-weight
$font_weight_bold:700;
$font_weight_normal:400;

//line-height
$l_h_banner_h1: 72px;
$l_h_capab_h2: 55px;
$l_h_news_but: 34px;
$l_h_banner_p: 28px;
$l_h_prod_list: 24px;

//letter-spacing
$let_spac_main:1px;
$let_spac_banner_h1:1.5px;
$let_spac_banner_h1_span:6px;


