.footer{
  margin-top: 110px;
  padding: 50px 0 30px;
  background-color: $color_footer_bg;

  .container{
    @extend %display_s_b;
    align-items: center;

    p{
      color: $color_footer_text;
      @extend %main_p_attribute;
    }

    ul{
      display: flex;
      li{
      margin-left: 18px;
      }
    }
  }
}