@media (max-width: $content_width_tablet_lg) {
  .header{
    padding: 20px 0;

    .header__nav{
      menu{
        li{
          a{
            padding: 30px 20px;
          }
        }
      }
    }
  }
}


@media (max-width: $content_width_tablet) {
  .header{
    .header__nav{
      menu{
        li{
          a{
            padding: 20px 15px;
          }
        }
      }
    }
  }
}


@media (max-width: $content_width_phone) {
  .header{
    padding: 15px 0;
    .header__nav{
      menu{
        li{
          a{
            padding: 15px 10px;
            letter-spacing: initial;
            text-transform: initial;
          }
        }
      }
    }
  }
}