.contact {
  margin-top: 100px;

  .contact__wrapper {
    .contact__title {
      margin-bottom: 75px;

      h4 {
        margin-bottom: 35px;
        color: $color_text_h2_capab;
        font-size: $font_size_capab_h2;
        font-weight: $font_weight_bold;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 45px;
        width: 57%;
        color: $color_text_p;
        @extend %main_p_attribute;
      }

      .break_line {
        @extend %break_line;
      }
    }

    .contact__inform {
      @extend %display_s_b;
      width: 100%;

      .contact__registration-form {
        width: 50%;

        form {
          div {
            @extend %display_s_b;
            margin-bottom: 48px;

            input {
              width: 45%;
              padding: 20px 40px;
              border-radius: 5px;
              background-color: $color_contact_bg;
              color: $color_contact_text;
              @extend %main_p_attribute;

              &:hover {
                background-color: $color_bg_header;
              }
            }
          }

          textarea {
            margin-bottom: 48px;
            width: 100%;
            height: 249px;
            border-radius: 5px;
            padding: 35px 50px;
            background-color: $color_contact_bg;
            resize: none;
            color: $color_contact_text;
            @extend %main_p_attribute;

            &:hover {
              background-color: $color_bg_header;
            }
          }
        }

        button {
          width: 100%;
          padding: 24px 0;
          border-radius: 5px;
          background-color: $color_menu_head_act;
          color: $color_text_link;
          font-size: $font_size_link;
          font-weight: $font_weight_bold;
          text-transform: uppercase;

          &:hover {
            background-color: $color_link_bg;
          }
        }
      }

      .contact__our-contacts {
        width: 50%;
        @extend %display_end;

        div {
          padding: 140px 0 140px 80px;
          width: 72%;
          background-color: $color_our_contact_bg;

          h5 {
            margin-bottom: 35px;
            text-transform: uppercase;
            color: $color_subskr_text;
            font-size: $font_size_link;
            font-weight: $font_weight_bold;
          }

          p {
            margin-bottom: 15px;
            color: $color_subskr_text;
            @extend %main_p_attribute;

            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
